body {
    text-align: center;
    font-family: arial;
    color: black;
}

#ventana {
    /*background: gray;*/
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

/*COLUMNA CENTRAL*/
#ventana div:nth-child(2) {
    width: 94%;
    height: 100%;
    /*background: black;*/
    float: left;
}

/*TODOS LOS DIVS DENTRO DE LA COLUMNA CENTRAL (SUPERIOR, CENTRAL GRANDE, INFERIOR)*/
#ventana div:nth-child(2) div {
    width: 100%;
}

/*CONTENIDO (CENTRAL GRANDE)*/
#ventana div:nth-child(2) div:nth-child(2) {
    background: orange;
    height: 90%;
}

/*SUPERIOR Y INFERIOR DENTRO DE LA COL-CENTRAL*/
#ventana div:nth-child(2) div:not(:nth-child(2)) {
    height: 5%;
}

/*LA SUPERIOR AL CONTENIDO*/
#ventana div:nth-child(2) div:first-child {
    background-color: blue;
}

/*LA INFERIOR AL CONTENIDO*/
#ventana div:nth-child(2) div:last-child {
    background-color: yellow;
    float: left;
}

/*(LATERALES) COLUMNA IZQUIERDA Y COLUMNA DERECHA*/
#ventana div:not(:nth-child(2)) {
    width: 3%;
    height: 100%;
    float: left;
}

/*COLUMNA IZQUIERDA*/
#ventana div:first-child {
    background-color: green;
}

/*COLUMNA DERECHA*/
#ventana div:last-child {
    background-color: red;
}
