/*----------- Barra de navegació ---------*/
body {
	background: #95a5a6;
	background-image: url('../img/bg.png');
	font-family: 'Helvetica Neue', Arial, Sans-Serif;
}

#wrapper{
	width: 1024px;
	margin:auto;
	/*background-color: #EFEFEF;*/
}
.navegacion{
	height: 100px;
	padding-top: 20px;
}
nav{
	float: right;
}

.botonera {
    margin: auto;
    width: 400px;
}

.botonera a {
	text-align: center;
	font-size: 20px;
	margin-left: 20px;
}

.botonera p{
	font-size: 14px;
	color:grey;
	margin-top: 50px;
}

.icon-button {
	background-color: white;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	line-height: 3em;
	margin: 0 8px;
	position: relative;
	width: 3em;
}
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin: -1.5em;
}
.home span {
	background-color: #717E27;
}

.food span {
	background-color: #EBB94A;
}
.book span {
	background-color: #4393BB;
}
.comment span {
	background-color: #db5a3c;
}
/* Iconos */
.icon-button i {
	background: none;
	color: white;
	left: 0;
	line-height: 3em;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3em;
	z-index: 2;
}
.icon-button .icon-home {
	color: #717E27;
}
.icon-button:hover .icon-home{
	color: white;

}
.icon-button .icon-food {
	color:#EBB94A;
}
.icon-button .icon-book {
	color: #4393BB;
}
.icon-button .icon-comment {
	color: #db5a3c;
}
.icon-button:hover .icon-food, .icon-button:hover .icon-book, .icon-button:hover .icon-comment {
	color: white;
}

/*------------------------------------------------*/

header{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 30px;
}

header span:first-child{
	font-size: 29px;
	color:#C03926;
}

header span:nth-child(3){
	font-size: 18px;
	color:grey;
}

article{
	margin: 50px;
}

article p{
	width: 500px;
	font-family: georgia;
	font-size: 16px;
	color:#4F4C4C;
	text-align: left;
	margin: auto;
	line-height: 25px;
}
a{
	text-decoration: none;
	color:#C03926;
}

img{
	margin-left: 210px;
}

/*------- pie de página ----------*/

footer{
	background-color: #B5B5B5;
	color:white;
}
footer p{
	font-size: 14px;
	text-align: right;
	padding: 0 50px 10px 0;
}