#wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    background-image: url('/res/html5/ex/3-col/bg.jpg');
    width: 750px;
    height: 571px;
    display: flex
}

.col {
    width: 230px;
    padding: 20px
}