.background-transparency {
    background: url(/res/html5/ex/img/mundo.svg)
}

.background-transparency div {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 255, 0.7);
    /* background-color: #0000ff80; */
}
