<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		.migrid {
			display: grid;
			grid-template-columns: repeat(5, 150px);
		}

		.migridWrapper {
			display: grid;
			grid-template-columns: 600px 100px;
		}

		button {
			display: block;
			width: 100%
		}
	</style>
</head>

<body>
	<div th:each="libro:${libros}" class="migridWrapper">
		<form class="migrid" action="/modificarlibro">
			<div th:text="${libro.id}"></div><input type="hidden" name="idNumber" th:value="${libro.id}" />
			<input type="text" name="titulo" th:value="${libro.titulo}" />
			<input type="text" name="precio" th:value="${libro.precio}" />
			<button>Modificar</button><input type="hidden" name="action" value="modificar" />
		</form>
		<form action="/deletelibro">
			<button>Borrar</button>
			<input type="hidden" name="idNumber" th:value="${libro.id}" />
			<input type="hidden" name="action" value="baja" />
		</form>
	</div>

	<form class="migrid" action="/create-libro">
		<div></div>
		<input id="action" type="hidden" name="action" value="alta">
		<input type="text" name="titulo" placeholder="Título del libro">
		<input type="text" name="precio" placeholder="Precio del libro">
		<button>Alta</button>
	</form>
</body>

</html>