.images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
    max-width: 1200px;
    width: 100%;
      margin: auto;
      margin-bottom: 25px;
}
img{
    max-width: 100%;
    box-sizing: border-box;
}

.images.options img{
      cursor: pointer;
      transition: 0.7s;
}

.images.options img:hover{
  border: 10px solid black;
}

p{
  font-size: 2rem;
  text-align: center;
}

.solution{

}