div.transform-translate {
    background-color: pink;
    width: 300px;
    height: 300px;
    transition: all 2s;
}

div.transform-translate:hover {
    /*transform: function()*/
    transform: translate(100px, 200px);
}
