#ventana {
    margin: 0 auto;
    width: 860px
}

#barraIzd {
    width: 30px;
    height: 500px;
    background: red;
	display: inline-block;
}

#centro {
    width: 800px;
    background: yellow;
	display: inline-block;
}

#barraArriba {
    width: 800px;
    height: 50px;
    background: orange;
}

#contenido {
    width: 800px;
    height: 400px;
    background: blue;
}

#barraAbajo {
    width: 800px;
    height: 50px;
    background: purple;
}

#barraDch {
    width: 30px;
    height: 500px;
    background: green;
	display: inline-block;
}