#wrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

#layers {
  width: 1500px;
  height: 500px;
  transition: 1s;
}

.capa1 {
  background: url(https://pablomonteserin.com/res/javascript-es6/ex/slider/img/tux1.png);
}

.capa2 {
  background: url(https://pablomonteserin.com/res/javascript-es6/ex/slider/img/tux2.png);
}

.capa3 {
  background: url(https://pablomonteserin.com/res/javascript-es6/ex/slider/img/tux3.png);
}

.capa {
  width: 500px;
  height: 500px;
  display: inline-block;
}
