a {
    background-color: blue;
    width: 200px;
    height: 200px;
    float: left;
    border: none;
}

a:hover {
    background-image: url('/res/html5/ex/background-image/logo.gif');
    background-color: black;
}
