#gradient {
  background: linear-gradient(
    to top,
    yellow 0%,
    yellow 20%,
    #f89d20 50%,
    #d3455b 80%,
    #852182 100%
  );
  background-size: 200% 200%;
}

#gradient:hover {
  animation: gradientAnimation 1s ease forwards;
}

@keyframes gradientAnimation {
  0% {
    background-position: 10% 0%;
  }

  100% {
    background-position: 91% 100%;
  }
}
