
body {
    background: #D3D3D3
}

.container {
    width: 1024px;
    border: 10px solid black;
    margin: auto
}

.capital {
    font-size: 2em;
    background: #D3D3D3
}

p {
    background: white;
    border-bottom: 5px solid black;
    border-right: 5px solid black

}

.cabecera {
    color: white;
    overflow: hidden;
    border-bottom: 2px solid white;
    width: 95%;
    margin: auto

}

.contenido {
    padding: 20px 90px 20px 90px
}

.negro {
    color: black
}

.c1 {
    float: left;
    margin-bottom: 0
}

.c2 {
    float: right;
    margin-bottom: 0
}

.doble_subrayado {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold
}

.gris {
    background: #C1C1C1;
    font-weight: bold
}