.container {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.link a {
  text-decoration: none;
  color: black;
}

.box {
  width: 150px;
  height: 150px;
  transition: 1s;
  margin: 10px;
}

.box.gray {
  background-color: #6C757D;
}

.box.blue {
  background-color: #537D91;
}

.box.orange {
  background-color: #F77754;
}

.disabled {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;

}