<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlets_jsp_jstl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
     <context-param>
       <param-name>
         foo
       </param-name>
       <param-value>
         bar
       </param-value>
     </context-param>
 
  <servlet>
    <description></description>
    <display-name>A_holaMundoTrazas</display-name>
    <servlet-name>A_holaMundoTrazas</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.A_holaMundoTrazas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A_holaMundoTrazas</servlet-name>
    <url-pattern>/A_holaMundoTrazas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B_holaMundoHTML</display-name>
    <servlet-name>B_holaMundoHTML</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.B_holaMundoHTML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B_holaMundoHTML</servlet-name>
    <url-pattern>/B_holaMundoHTML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>F_ejercicioSumaParam</display-name>
    <servlet-name>F_ejercicioSumaParam</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.F_ejercicioSumaParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F_ejercicioSumaParam</servlet-name>
    <url-pattern>/F_ejercicioSumaParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>G_ejercicioCalculadora</display-name>
    <servlet-name>G_ejercicioCalculadora</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.G_ejercicioCalculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_ejercicioCalculadora</servlet-name>
    <url-pattern>/G_ejercicioCalculadora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>I_ejercicioConsultaBDI</display-name>
    <servlet-name>I_ejercicioConsultaBDI</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.I_ejercicioConsultaBDI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I_ejercicioConsultaBDI</servlet-name>
    <url-pattern>/I_ejercicioConsultaBDI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>J_ejercicioConsultaBDII</display-name>
    <servlet-name>J_ejercicioConsultaBDII</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.J_ejercicioConsultaBDII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>J_ejercicioConsultaBDII</servlet-name>
    <url-pattern>/J_ejercicioConsultaBDII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>K_ejercicioConsultaBDIII</display-name>
    <servlet-name>K_ejercicioConsultaBDIII</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.K_ejercicioConsultaBDIII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>K_ejercicioConsultaBDIII</servlet-name>
    <url-pattern>/K_ejercicioConsultaBDIII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>L_ejercicioConsultaBDIV</display-name>
    <servlet-name>L_ejercicioConsultaBDIV</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.L_ejercicioConsultaBDIV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>L_ejercicioConsultaBDIV</servlet-name>
    <url-pattern>/L_ejercicioConsultaBDIV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>M_ejercicioConsultaBDV</display-name>
    <servlet-name>M_ejercicioConsultaBDV</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.M_ejercicioConsultaBDV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M_ejercicioConsultaBDV</servlet-name>
    <url-pattern>/M_ejercicioConsultaBDV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>N_ejercicioConsultaBDVI</display-name>
    <servlet-name>N_ejercicioConsultaBDVI</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.L_ejercicioConsultaBDVI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>N_ejercicioConsultaBDVI</servlet-name>
    <url-pattern>/N_ejercicioConsultaBDVI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>H_ServletThrow</display-name>
    <servlet-name>H_ServletThrow</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.H_ServletThrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H_ServletThrow</servlet-name>
    <url-pattern>/H_ServletThrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C_ServletLive</display-name>
    <servlet-name>C_ServletLive</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.C_ServletLive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_ServletLive</servlet-name>
    <url-pattern>/C_ServletLive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>E_ServletEncode</display-name>
    <servlet-name>E_ServletEncode</servlet-name>
    <servlet-class>com.pablomonteserin.servlets.E_ServletEncode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_ServletEncode</servlet-name>
    <url-pattern>/E_ServletEncode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B_RecuperarBean</display-name>
    <servlet-name>B_RecuperarBean</servlet-name>
    <servlet-class>com.pablomonteserin.jsp.servlets.B_RecuperarBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B_RecuperarBean</servlet-name>
    <url-pattern>/B_RecuperarBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A_RecuperarBeanLibro</display-name>
    <servlet-name>A_RecuperarBeanLibro</servlet-name>
    <servlet-class>com.pablomonteserin.jsp.servlets.A_RecuperarBeanLibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A_RecuperarBeanLibro</servlet-name>
    <url-pattern>/A_RecuperarBeanLibro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C_recuperarBeanDesdeFormulario</display-name>
    <servlet-name>C_recuperarBeanDesdeFormulario</servlet-name>
    <servlet-class>com.pablomonteserin.jsp.servlets.C_recuperarBeanDesdeFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_recuperarBeanDesdeFormulario</servlet-name>
    <url-pattern>/C_recuperarBeanDesdeFormulario</url-pattern>
  </servlet-mapping>
</web-app>