@font-face {
  font-family: flechita;
  src: url(https://pablomonteserin.com/res/html5/ex/navbar-pasos/Arrows_tfb.ttf);
}

.menu-by-steps {
  padding-left: 0;
}

.menu-by-steps li a {
  background: pink;
  border: solid black 6px;
  border-radius: 10px;
  padding: 15px;
  display: block;
  color: black;
  text-decoration: none;
}

.menu-by-steps li:hover a {
  color: red;
  background: salmon;
}

.menu-by-steps li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  position:relative;
}

.menu-by-steps li.hasChildren > a:after {
  color: purple;
  content: " o";
  font-family: flechita;
}

.menu-by-steps li.hasChildren ul {
  position: absolute;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
}

.menu-by-steps li.hasChildren li {
  display: block;
}

.menu-by-steps li.hasChildren:hover ul {
  opacity: 1;
  max-height: 800px;
}
