@font-face {
  font-family: fuente;
  src: url(https://pablomonteserin.com/res/html5/ex/grassy-grass/img/fuente.woff);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: fuente;
  font-weight: bold;
}

.wrapper {
  width: 100%;
}

.header {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: rgba(22, 160, 133, 0.7);
}

.menu li {
  display: inline-block;
}

.menu {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.menu a {
  display: block;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Raleway", sans-serif;
}

.menu a:hover {
  background-color: rgba(22, 160, 133, 0.2);
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.grassy {
  text-align: center;
  background-color: #333333;
  padding: 150px;
  margin-top: 0px;
}

.grassy h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 5em;
  font-weight: 5px;
  padding-top: 20px;
}

.grassy h2 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 0.8em;
}

.pic {
  background: url(https://pablomonteserin.com/res/html5/ex/grassy-grass/img/pic01.jpg);
  height: 500px;
}

.caja {
  background-color: #ffffff;
  width: 1024px;
  margin: auto;
  padding: 20px;
}

.container {
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
}

.col_left {
  font-family: "Raleway", sans-serif;
  color: #333333;
  text-align: justify;
  width: 700px;
  margin-bottom: 70px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 40px;
}

.col_left h2 {
  font-family: "Raleway", sans-serif;
  color: #16a085;
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  margin-bottom: 30px;
}

.col_left h3 {
  font-family: "Raleway", sans-serif;
  color: #000000;

  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: normal;
}

.col_left p {
  margin-top: 15px;
}

.col_right {
  margin-top: 30px;
  display: inline-block;
  width: 300px;
  font-family: "Raleway", sans-serif;
  vertical-align: top;
  margin-top: 0;
}

.col_right ul {
  list-style: none;
}

.lista a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid black;
}

.lista li {
  margin-bottom: 20px;
}

.lista h2 {
  font-family: "Raleway", sans-serif;
  color: #16a085;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 23px;
}

.col {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  text-align: justify;
}

ul {
  padding: 0;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

.listar {
  display: inline-block;
  list-style: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  width: 368px;
}

.footer {
  background-color: #1e1b1a;
  color: white;
  padding: 30px;
}

.footer_row {
  width: 1024px;
  margin: auto;
  text-align: center;
}

.footer_row a {
  color: white;
  font-weight: bold;
}

.listal h2 {
  color: #ffffff;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.listal a {
  text-decoration: none;
  color: #627084;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.listal li {
  margin-bottom: 15px;
}

.listal a:last-child {
  border-bottom: 1px solid #627084;
}

.listal h2 {
  color: #ffffff;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.listar a {
  padding: 0px;
  text-decoration: none;
  color: #627084;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding-top: 10px;
}

.listar li {
  margin-bottom: 15px;
}

.listar a:last-child {
  border-bottom: 1px solid #627084;
}

.follow {
  color: #627084;
  font-family: "Raleway", sans-serif;
  width: 473px;
  padding-right: 50px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  margin-right: 6px;
}

.follow h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px;
}

.social {
  list-style: none;
}

.social li {
  display: inline-block;
  padding-right: 10px;
  margin-top: 15px;
}

.footer2 {
  overflow: hidden;
  background-color: #16a085;

  padding: 85px;
}

.footer2 p {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}
